# Build and Output directories
[Db]in/
[Oo]bj/
Out/
[Xx]64/
[Xx]86/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.suo
*.userprefs

# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
__MACOSX/

# Package files
*.nupkg
# Restore NuGet packages
**/packages/
!**/packages/repositories.config

# Temp / Log files
*.log
*.tmp
*.temp
